/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --grif-1:#740001;
  --grif-2:#ae0001;
  --grif-3:#eeba30;
  --grif-4:#d3a625;
  --slit-1:#1a472a;
  --slit-2:#2a623d;
  --slit-3:#5d5d5d;
  --slit-4:#aaaaaa;
  --rave-1:#0e1a40;
  --rave-2:#222f5b;
  --rave-3:#bebebe;
  --rave-4:#946b2d;
  --huff-1:#ecb939;
  --huff-2:#f0c75e;
  --huff-3:#726255;
  --huff-4:#372e29;

}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --bs-light-rgb: var(--color-background-soft)

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;

  --wand-cursor: url(https://cdn.custom-cursor.com/db/cursor/32/Harry_Potter_Wand_Cursor.png);
  --wand-pointer: url(https://cdn.custom-cursor.com/db/pointer/32/Harry_Potter_Pointer.png);

  --magic-color:rgba(255, 0, 0, 0.5);
}

[data-bs-theme="dark"] {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);
  --bs-light-rgb: var(--color-background-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);

  --wand-cursor: url(https://cdn.custom-cursor.com/db/cursor/32/Lord_Voldemort_Wand_Cursor.png);
  --wand-pointer: url(https://cdn.custom-cursor.com/db/pointer/32/Lord_Voldemort_Pointer.png);

  --magic-color: rgba(0, 255, 0, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, 'HarryPotter';
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: var(--wand-cursor), default !important;
}
.btn, a{
  cursor:  var(--wand-pointer), pointer !important;
}
.bg-light {
  --bs-bg-opacity: 1;
  background-color: var(--color-background-soft) !important;
  color : var(--color-text);
}
.nav-link{
  color : var(--color-text);
}
.nav-link:hover{
  color : var(--color-heading);
}

.main-navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-container{
  height: 90vh;
  align-content: center;
  overflow: auto;
}

.main-title{
  font-family: 'HarryPotter';
}

.main-btn{
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--grif-1);
  --bs-btn-border-color: var(--grif-1);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--grif-2);
  --bs-btn-hover-border-color: var(--grif-2);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--grif-2);
  --bs-btn-active-border-color: var(--grif-2);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--grif-1);
  --bs-btn-disabled-border-color: var(--grif-1);
}

.second-badge{
  color: #000;
  background-color: var(--grif-3);
  width: fit-content;
  height: 20px;
}

.second-badge:hover{
  background-color: var(--grif-4);
}

.main-btn a{
  color: #fff;
  text-decoration: none;
}

.question-image{
  height: 35vh;
  background-position: center;
  background-size: cover;
}

.admin-container{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.click-cursor {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--magic-color);
  transform: translate(-50%, -50%);
  animation: click-cursor 1s ease-out forwards;
}

@keyframes click-cursor {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
